/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

* {
    margin: 0;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bold;
}

.navigation {
    display:flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    width: 100%;
   background-color: black;
   position: fixed;
   top: 0;
   z-index: 125;
  }

  .navigation h1 {
      color: white;
  }

  .navigation a:hover {
      color: cyan;
  }
  .navigation .setlinks {
    margin-left: 30px;
  }
  .webContent {
      max-width: 600px;
  }
  .navigation a {
      margin-left: 120px;
      padding: 10px;
      height: 50px;
      text-decoration: none;
      margin-bottom: -100px;
  }

.pic {
    position: relative;
    width: 475px;
    height: 350px;
    border-radius: 20%;
    margin-left: 700px;
    margin-top: -3000px;
    margin-bottom: 220px;
}
.foodpic {
    position: relative;
    width: 475px;
    height: 350px;
    border-radius: 20%;
    margin-left: 700px;
    margin-top: -3000px;
    margin-bottom: 220px;
}
  body {
      background-color: lightgray;
  }

  .exercise-preview:hover {
      color: darkblue;
  }
  .food-preview:hover {
      color: darkblue;
  }
.search {
    padding: 12px;
    margin-left: 400px;
    font-size: 15px;

}
.header {
      font-size: 30px;
      color: #00008b;
      font-weight: bold;
  }

  .exercise-preview h2 {
      font-size: 20px;
      color: darkblue;
  }

  .food-preview h2 {
    font-size: 20px;
    color: darkblue;
  }

  .exercise-preview {
      font-weight: bold;
      margin: 20px 0;
      border-bottom: 1px solid black;
      padding: 20px;
      text-align: center;
  }
  .food-preview {
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
  }

  .food-preview a {
      text-decoration: none;
  }
  .exercise-preview a{
      text-decoration: none;
  }

  .Homepage  {
      text-align: center;
      padding: 10px;
      height: 100%;
    margin-top: 60px;
    position: relative;
  }

.new {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.new-food {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.fitnesspic {
    position: relative;
    width: 475px;
    height: 350px;
    border-radius: 20%;
    margin-left: 700px;
    margin-top: 400px;
}
