/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

* {
    margin: 0;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bold;
}


.navigation {
    display:flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    width: 100%;
   background-color: black;
  }

  .navigation h1 {
      color: white;
  }

  .navigation a:hover {
      color: cyan;
  }
  .navigation .setlinks {
    margin-left: 30px;
  }
  .webContent {
      max-width: 600px;
  }
  .navigation a {
      margin-left: 100px;
      padding: 20px;
      height: 50px;

  }
.pic {
    position: relative;
    width: 475px;
    height: 350px;
    border-radius: 20%;
    margin-left: 700px;
    margin-top: -3000px;
    margin-bottom: 220px;
}
  body {
      background-color: lightgray;
  }

  .exercise-preview:hover {
      color: darkblue;
  }
.search {
    padding: 12px;
    margin-left: 400px;
    font-size: 15px;

}
.header {
      font-size: 30px;
      color: #00008b;
      font-weight: bold;
  }

  .exercise-preview h2 {
      font-size: 20px;
      color: darkblue;
  }
  .exercise-preview {
      font-weight: bold;
      margin: 20px 0;
      border-bottom: 1px solid black;
      padding: 20px;
      text-align: center;
  }
