/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

* {
    margin: 0;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bold;
}


.navigation {
    display:flex;
    height: 80px;
    align-items: center;
    width: 100%;
   background-color: black;
  }

  .navigation h1 {
      color: white;
  }

  .navigation a:hover {
      color: cyan;
  }
  .navigation .setlinks {
    margin-left: auto;
  }
  .webContent {
      max-width: 600px;
  }
  .navigation a {
      margin-left: 300px;
      padding: 20px;
  }

  body {
      background-color: lightgray;
  }
